*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Shizuru', cursive;
}
body {
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-size: 1.5rem;
    background-size: 100% 100%;
}

.day{
    background-image: url("images/day.jpg");
    height: 100%;
}
.afternoon{
    background-image: url("images/Afternoon.jpg");
    height: 100%;
}
.eve{
    background-image: url("images/eve.jpg");
    height: 100%;
}
.night{
    background-image: url("images/night.jpg");
    height: 100%;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}


.clock .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 {
    --rotation: 30deg;
}
.clock .number2 {
    --rotation: 60deg;
}
.clock .number3 {
    --rotation: 90deg;
}
.clock .number4 {
    --rotation: 120deg;
}
.clock .number5 {
    --rotation: 150deg;
}
.clock .number6 {
    --rotation: 180deg;
}
.clock .number7 {
    --rotation: 210deg;
}
.clock .number8 {
    --rotation: 240deg;
}
.clock .number9 {
    --rotation: 270deg;
}
.clock .number10 {
    --rotation: 300deg;
}
.clock .number11 {
    --rotation: 330deg;
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.clock .hands {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}
.clock .hands.hour {
    width: 10px;
    height: 35%;
    background-color: black;
}
.clock .hands.min {
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .hands.sec {
    width: 3px;
    height: 45%;
    background-color: rgb(255, 0, 0);
}